.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(5, 0, 10); /* Semi-transparent black overlay to block content */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Higher than other elements */
}

.loader {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader div {
  height: 30px;
  width: 30px;
  position: absolute;
  animation: move 4s infinite;
}

.loader div:nth-child(1) {
  background-color: #5d2691;
  box-shadow: #5d2691 0px 7px 29px 0px;
  transform: translate(-30px, -30px);
  animation-delay: -1s;
}

.loader div:nth-child(2) {
  background-color: rgb(97, 183, 253);
  box-shadow: rgb(97, 183, 253) 0px 7px 29px 0px;
  transform: translate(30px, -30px);
  animation-delay: -2s;
}

.loader div:nth-child(3) {
  background-color: var(--primary-span);
  box-shadow: var(--primary-span) 0px 7px 29px 0px;
  transform: translate(30px, 30px);
  animation-delay: -3s;
}

.loader div:nth-child(4) {
  background-color: #151441;
  box-shadow: #151441 0px 7px 29px 0px;
  transform: translate(-30px, 30px);
  animation-delay: -4s;
}

@keyframes move {
  0% {
    transform: translate(-30px, -30px);
  }
  25% {
    transform: translate(30px, -30px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(-30px, 30px);
  }
  100% {
    transform: translate(-30px, -30px);
  }
}